<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type=text/css href="../../static/test.css">
    <title>Title</title>
</head>
<body>
<p>tekst</p>
<!--<div class="any1">
    Any 1
</div>
<div class="any2">
    Any 2
</div>-->
<!--<div class="any3" onclick="toggleClock()" id="d">divem</div>-->

<!--
<button onclick="shoot()">Take the Shot!</button>
<button onclick="hideDupa(this)">Take the Shot! hidedupa</button>
<p>test</p>
&lt;!&ndash;<label onclick="hideDupa(this)">Znika siebie</label>&ndash;&gt;
<script>
</script>
<script>
    function showDupa(klasa) {
        klasa.style.display = 'block'
    }
</script>-->
<!--
<section>
    <div class="content1" id="c1"> content1</div>
</section>
<label>
    <div class="content2"> content2</div>
</label>
<div class="content3"> content3</div>

<label onclick="showDupa('c1')">pokazuje coś innego</label>-->

<hr/>
<!--https://typeofweb.com/podstawowe-struktury-danych-tablica-i-lista-->
<!--https://cezarywalenciuk.pl/blog/programing/linked-list-lista-jednokierunkowa-w-javascript-->

<section>
    <script type="text/javascript">
        var alfabet=[];
        for (i = 65; i < 91; i++) {
            document.write(String.fromCharCode(i) + " ");
            alfabet.push(String.fromCharCode(i))
        }
        <hr/>
        var litera;
        /*        document.write("<br>")
                litera=String.fromCharCode(70)
                document.write("<br>")
                document.write(litera + " <-- wybrana litera")*/
    </script>
</section>


<!--<script type="text/javascript">
    var alfabet=[];
    for (i = 65; i < 91; i++) {
        /*   document.write(i + " ");*/
        document.write(String.fromCharCode(i) + " ");
       /* alfabet.append(String.fromCharCode(i))*/
        alfabet.push(String.fromCharCode(i))
    }

    <hr/>

/*    function displayText() {
        console.log('Kliknięto w przycisk');
        document.getElementById('id-button').removeEventListener('click', displayText);
    }
    const elem = document.getElementById('id-button');
    elem.addEventListener('click', displayText);*/

    document.write(alfabet.indexOf(5));-->
<!--/*    let listOfNumbers = [2, 3, 5, 7, 11];*/-->
<!--/*    var litera;
document.write("<br>")
litera = String.fromCharCode(70)
document.write("<br>")
/!*litera.style.color = "#006600";*!/
document.write(litera + " <&#45;&#45; wybrana litera")
document.write("<br>")
document.write(alfabet[5] + " <&#45;&#45; 5 litera z tablicy)*/-->
<!--</script>-->

<!--asci 65 - 90, 140,143, 163, 165, 175, 198, 202, 209, 211-->

</body>
</html>
<!--
<script type="text/javascript" language="javascript">
    function akcja(){
        var naszaWarstwa = document.getElementById("naszaWarstwa");
        naszaWarstwa.style.border = "#006600 solid 1px";
        naszaWarstwa.style.color = "#006600";
        naszaWarstwa.style.padding = "7px 7px 7px 7px";
        naszaWarstwa.style.background-color = "#cccccc";
    }
</script>-->

