<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type=text/css href="styles.css">
    <title>Wheel of torture :) localhost </title>
</head>
<body>
<header>
    <!--Tu logo + literki do wybierania-->
    <div class="pictureFormat" th:replace="front/fragments/picture :: fragPicture"></div>
    <div class="panel" th:replace="front/fragments/panel :: fragPanel"></div>
</header>
<nav th:replace="front/fragments/menu :: fragMenu">
</nav>
<div class="playerCL" th:replace="front/fragments/player :: fragPlayer"></div>
<footer th:replace="front/fragments/footer :: fragFooter"></footer>
</body>
</html>
