<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type=text/css href="styles.css">
    <title>Wheel of torture :) localhost </title>
</head>
<body>
<header>
    <div class="pictureFormat" th:replace="front/fragments/picture :: fragPicture"></div>
    <div class="banner" th:replace="front/fragments/banner :: fragBanner"></div>
</header>
<nav th:replace="front/fragments/menu :: fragMenu">
</nav>

<section class="dynamic">
<!--nasza część dynamiczna-->
<div class="default" th:fragment="default"> ...default... </div>
<div class="fragGame" th:fragment="fragGame"> ...Game... </div>
<div class="playerCL" th:fragment="playerCL"> ...player... </div>
<div class="score" th:fragment="score"> ...score... </div>
<div class="admin" th:fragment="admin"> ...coadmin... </div>
</section>
<!--koniec dynamicznej-->
<footer th:replace="front/fragments/footer :: fragFooter"></footer>
</body>
</html>
