
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="jquery-3.6.0.min.js"></script>
<head>
    <meta charset="UTF-8">
</head>
<body>
<section class="dynamic" th:fragment="dynamic">
    <div class="default" th:fragment="default"> ...default... </div>
    <div class="fragGame" th:fragment="fragGame"> ...Game... </div>
    <div class="playerCL" th:fragment="playerCL"> ...player... </div>
    <div class="score" th:fragment="score"> ...score... </div>
    <div class="admin" th:fragment="admin"> ...coadmin... </div>
</section>
</body>
</html>
