<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type=text/css href="styles.css">
    <title>Wheel of torture :) localhost </title>
</head>
<body>
<header>
    <div class="pictureFormat" th:replace="front/fragments/layout/picture :: fragPicture"></div>
    <div class="banner" th:replace="front/fragments/layout/banner :: fragBanner"></div>
</header>
<nav th:replace="front/fragments/layout/menu :: fragMenu">
</nav>
<div class="dynamic" th:fragment=dynamic>
    <table>
 <!--       Panel z literami do wyboru-->
        <tr>
            <div style="background-color: white;text-align: center;padding-top: 10px;padding-bottom: 10px">
                <button style="background-color: #ffffff;padding-top: 10px;padding-bottom: 10px;
            color: #000000;font-size: 20px;border-color: #540404;border-style: solid;width: 30px;
            height: 30px;font-weight: bold;display: inline-flex;justify-content: center;
            align-items: center;" onclick=(style.display='none'); th:each="l:${letter}" th:text="${l}"></button>
            </div>
        </tr><!--       Panel z literami do wyboru-->
        <tr>
            <div style="background-color: #1234af;text-align: center;padding-top: 10px;padding-bottom: 10px">
                <button th:each="wn:${wordknown}" th:text="${wn}"</button>
            </div>
        </tr>
    </table>

<!--    <div class="fragPlayground" th:replace="front/fragments/dynamic/gameElements/playground :: fragPlayground"></div>-->
</div>

<footer th:replace="front/fragments/layout/footer :: fragFooter"></footer>
</body>

</html>
