
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type=text/css href="styles.css">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--<footer th:fragment="dupa"> ...copyright ... </footer>-->

<nav th:fragment="fragMenu">
    <a href="dynamic"><span class="menuElements">Game</span></a>
    <a href="player"><span class="menuElements">Player</span></a><!--Tu będzie tabela pkt z mozliwoscia założenia nowego gracxza-->
    <a href="admin"><span class="menuElements">Admin</span></a>
    <a href="score"><span class="menuElements">Scores</span></a>
    <div class="menu">

</div>
</nav>
</body>
</html>
