
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type=text/css href="styles.css">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--<footer th:fragment="dupa"> ...copyright ... </footer>-->
<nav th:fragment="fragMenu">

    <a href="game"><span class="menu">G a m e</span></a>
    <a href="player"><span class="menu">P l a y e r</span></a><!--Tu będzie tabela pkt z mozliwoscia założenia nowego gracxza-->
    <a href="admin"><span class="menu">A d m i n</span></a>
    <a href="score"><span class="menu">S c o r e s</span></a>

</nav>
</body>
</html>
