
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type=text/css href="styles.css">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--<footer th:fragment="dupa"> ...copyright ... </footer>-->

<nav th:fragment="fragMenu">
    <a href="game"><span class="menuElements">G a m e _ old</span></a>
    <a href="dynamic"><span class="menuElements">G a m e_new</span></a>
    <a href="player"><span class="menuElements">P l a y e r</span></a><!--Tu będzie tabela pkt z mozliwoscia założenia nowego gracxza-->
    <a href="admin"><span class="menuElements">A d m i n</span></a>
    <a href="score"><span class="menuElements">S c o r e s</span></a>
    <div class="menu">

</div>
</nav>
</body>
</html>
