body {
    background-color: #000000;
    border-color: #000000;
    border-style: solid;
}

.buttonEmpty {
    background-color: #560608;
    border-color: #ffffff;
    border-style: solid;
    width: 30px;
    height: 30px;
    font-size: +20px;
}

/*.letterKnown {
    font-size: +20px;
    !*    image-orientation: 0;*!
    color: #070907;
    background-color: #ffffff;
    border-color: #ffffff;
    border-style: solid;
    font-family: ShlopShloppy-Regular;
    width: 30px;
    height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/*
.letterUnknown {
    font-size: +20px;
    color: #ffffff;
    background-color: #000000;
    border-color: #ffffff;
    border-style: solid;
    width: 30px;
    height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

.menuElements {
    display: flex;
    background-color: #ffffff;
    border-style: solid;
    padding: 10px;
    border-color: #000000;
    font-family: ShlopShloppy-Regular;
    font-style: italic;
    font-weight: bolder;
    justify-content: center;
    color: maroon;
}

.menu{
    display: flex;
    background-color: #ffffff;
    border-style: solid;
    border-color: #000000;
    font-style: italic;
    font-weight: bolder;
    justify-content: center;
    height: 200px;
}


/*https://cssgradient.io/*/
.dynamic {
    border-style: solid;
    border-color: #000000;
    padding-top: 1px;
    float: right;
    width: 84.6%;
    color: #ffffff;
}

.pictureFormat {
    float: left;
    width: 17.4%;
    border-color: #000000;
    border-style: solid;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
}

.banner {
    display: flex;
    float: right;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border-style: solid;
    border-color: #000000;

}

.bannerText {
    font-weight: bolder;
    font-style: italic;
    padding-top: 3%;
    font-size: 70px;
    font-family: ShlopShloppy-Regular;
    color: maroon;
}

@import url(//db.onlinewebfonts.com/c/bb45f7c1aa890db9f527bc3790fc8c52?family=ShlopShloppy-Regular);
/*https://www.onlinewebfonts.com/download/bb45f7c1aa890db9f527bc3790fc8c52*/

@font-face {
    font-family: "ShlopShloppy-Regular";
    src: url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.eot");
    src: url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.woff") format("woff"), url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.svg#ShlopShloppy-Regular") format("svg");
}

.lettersPanel {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color:#560608;
    padding-top: 10px;
    padding-bottom: 10px;


}

.admin {
    background-color: coral;
    color: #1234af;
    border-style: solid;
    border-color: black;
    padding: 10px;
    display: flex;
}

.score {
    background-color: indigo;
    color: #1234af;
    border-style: solid;
    border-color: black;
    padding: 10px;
    display: flex;
}

header {
    display: flex;
}

nav {
    justify-content: right;
    width: 15%;
    border-color: #000000;
    display: block;
    float: left;
}

.playerCL {
    background-color: #a4060d;
    border-style: solid;
    border-color: black;
    margin: 0px;
    text-align: center;
}

.newPlayer{
    background-color: #1234af;
    padding: 10px;
    width: 41.2%;
    margin-left: 3px;
    text-align: center;
    justify-content: center;
    float: left;
}
.existingPlayer{
    background-color: #30a930;
    padding: 10px;
    width: 41.2%;
    justify-content: center;
    text-align: center;
    margin-right: 0px;
    float: right;
}

footer {
    clear: both;
    padding: 5px;
    border-color: #000000;
    color: maroon;
    border-style: solid;
    font-style: italic;
    font-weight: bolder;
    background-color: #ffffff;
    font-family: ShlopShloppy-Regular;
    display: flex;
    justify-content: center;
}

.fragPlayground {
    background-color: #30a930;
}

a {
    text-decoration: none;
    color: maroon;
}

.default {
    background-color: #000000;
    text-align: center;
}

.defaultChoice {
    display: flex;
    margin: auto;
    background-color: #ffffff;
    border-style: solid;
    padding: 10px;
    border-color: #000000;
    font-family: ShlopShloppy-Regular, serif;
    font-style: italic;
    font-weight: bolder;
    justify-content: center;
    color: maroon;
    text-align: center;
    width: 480px;
}

.defaultBorder{
    border-style: solid;
    border-color: #000000;
}

.defaultBlock{
    width: 41%;
    height: 222px;
    float: left;
    background-color: #ffffff;
    border-style: solid;
    padding: 10px;
    border-color: #000000;
    font-family: ShlopShloppy-Regular;
    font-style: italic;
    font-weight: bolder;
    justify-content: center;
    color: maroon;
}

/*
:link hiperłącze nieodwiedzone (ang. unvisited link),
:visited hiperłącze odwiedzone (ang. visited link),
:hover hiperłącze, na którym jest kursor (ang. mouse over link),
:active hiperłącze, na który właśnie klikamy (ang. selected link).*/
