body {
    background-color: #000000;
    border-color: #000000;
    border-style: solid;
}

.buttonEmpty {
    /*    image-orientation: 0;*/
    background-color: #b2d7b2; /*ma byc bialy*/
    border-color: #ffffff;
    border-style: solid;
    width: 30px;
    height: 30px;
    font-size: +20px;


}

.buttonInactive {
    font-size: +20px;
    /*   image-orientation: 0;*/
    color: #423e3e;
    background-color: #6c766f;
    border-color: #ffffff;
    border-style: solid;
    width: 30px;
    height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonActive {
    font-size: +20px;
    /*   image-orientation: 0;*/
    color: #ffffff;
    background-color: #a4060d;
    border-color: #ffffff;
    border-style: solid;
    width: 30px;
    height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letterKnown {
    font-size: +20px;
    /*    image-orientation: 0;*/
    color: #070907;
    background-color: #54bb98;
    border-color: #dae5da;
    border-style: solid;
    width: 30px;
    height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letterUnknown {
    font-size: +20px;
    /*    image-orientation: 0;*/
    color: #ffffff;
    background-color: #103f10;
    border-color: #ffffff;
    border-style: solid;
    width: 30px;
    height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    background-color: #ffffff;
    border-style: solid;
    padding: 10px;
    border-color: #000000;
    font-family: ShlopShloppy-Regular;
    font-style: italic;
    font-weight: bolder;
    color: maroon;
}


/*https://cssgradient.io/*/
.dynamic {
    border-style: solid;
    border-color: #000000;
    padding-top: 1px;
    float: right;
    width: 84.6%;
    color: #ffffff;
}

.pictureFormat {
    float: left;
    width: 17.4%;
    border-color: #000000;
    border-style: solid;
    text-align: center;
    vertical-align: middle;
    border-color: #000000;
    background-color: #ffffff;
    border-style: solid;
}

.banner {
    display: flex;
    float: right;
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border-style: solid;
    border-color: #000000;

}

.bannerText {
    font-weight: bolder;
    font-style: italic;
    padding-top: 3%;
    font-size: 70px;
    font-family: ShlopShloppy-Regular;
    color: maroon;
}


@import url(//db.onlinewebfonts.com/c/bb45f7c1aa890db9f527bc3790fc8c52?family=ShlopShloppy-Regular);
/*https://www.onlinewebfonts.com/download/bb45f7c1aa890db9f527bc3790fc8c52*/

@font-face {
    font-family: "ShlopShloppy-Regular";
    src: url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.eot");
    src: url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.woff") format("woff"), url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/bb45f7c1aa890db9f527bc3790fc8c52.svg#ShlopShloppy-Regular") format("svg");
}

.lettersPanel {
    display: flex;
    float: right;
    width: 100%;
    background-color: chartreuse;
}

.admin {
    background-color: coral;
}

.score {
    background-color: indigo;
}

.default {
    background-color: maroon;
}

header {
    display: flex;
}

nav {
    justify-content: right;
    width: 15%;
    border-color: #000000;
    display: block;
    float: left;
}

.playerCL {
    background-color: #a4060d;
}

footer {
    clear: both;
    padding: 5px;
    border-color: #000000;
    color: maroon;
    border-style: solid;
    font-style: italic;
    font-weight: bolder;
    background-color: #ffffff;
    font-family: ShlopShloppy-Regular;
    display: flex;
}

.fragPlayground {
    background-color: #103f10;
}

a {
    text-decoration: none;
    color: maroon;
}


/*
:link hiperłącze nieodwiedzone (ang. unvisited link),
:visited hiperłącze odwiedzone (ang. visited link),
:hover hiperłącze, na którym jest kursor (ang. mouse over link),
:active hiperłącze, na który właśnie klikamy (ang. selected link).*/
