<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type=text/css href="styles.css">
</head>
<body>
    <div class="default" th:fragment="default">
        <img src="/playAgame.png" class="defaultBorder" width="500px" alt="Let's play a game ...">
        <br/>
            <a href="game" class="defaultChoice">New Game</a>
            <a href="player" class="defaultChoice">Continue Game</a>
        </div>
</body>
</html>
