<!--
tu zlepimy letters i playground-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type=text/css href="styles.css">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="fragGame" th:fragment=fragGame>
    <div class="lettersPanel" th:replace="front/fragments/dynamic/gameElements/letters :: lettersPanel"></div>
    <div class="fragPlayground" th:replace="front/fragments/dynamic/gameElements/playground :: fragPlayground"></div>
</div>
</body>
</html>
