<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type=text/css href="styles.css">
    <title>Wheel of torture :) localhost </title>
</head>
<body>
<header>
    <div class="pictureFormat" th:replace="front/fragments/layout/picture :: fragPicture"></div>
    <div class="banner" th:replace="front/fragments/layout/banner :: fragBanner"></div>
</header>
<nav th:replace="front/fragments/layout/menu :: fragMenu">
</nav>

<!--<div class="playerCL" th:fragment="fragPlayer"> Tu będzie o graczach </div>-->


<div class="playerCL">
    <div class="defaultBlock">
        <h3>Create New User</h3>
        <form th:action="@{/game/user}" th:object="${userForm}" method="POST">
            <div>
                <label for="username">Username</label>
                <input id="username" type="text" th:field="*{username}">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="defaultBlock" style="float: right">
        <span th:each="user : ${users}">
            <label>Username:</label>
            <p th:text="${user.username}"></p>
            <label>Games: </label>
            <p th:text="${user.games}"></p>
        </span>
    </div>
</div>



<footer th:replace="front/fragments/layout/footer :: fragFooter"></footer>
</body>
</html>

<!--

<form action="" method="post" id="contactForm">
    <label for="imie">
        <span>Imie:</span>
        <input type="text" id="imie" name="nameInput" placeholder="Podaj swoje imie" />
    </label>

    <label for="nazwisko">
        <span>Nazwisko:</span>
        <input type="text" id="nazwisko" name="lastNameInput" required />
    </label>

    <label for="email">
        <span>Email:</span>
        <input type="email" id="email" name="email" required />
    </label>

    &lt;!&ndash; <input type="number" name="" id="" max="99" min="18" required> &ndash;&gt;

    <div id="musicSection">
        <label for="rock">
            <input type="checkbox" name="rock" id="rock"> <span>Rock</span>
        </label>

        <label for="pop">
            <input type="checkbox" name="pop" id="pop"> <span>Pop</span>
        </label>

        <label for="jazz">
            <input type="checkbox" name="jazz" id="jazz"> <span>Jazz</span>
        </label>
    </div>


    <div id="drinkSection">
        <label for="coffee">
            <span>Kawa</span> <input type="radio" name="drink" id="coffee" value="coffee">
        </label>
        <label for="tea">
            <span>Herbata</span> <input type="radio" name="drink" id="tea" value="tea">
        </label>
    </div>

    <label for="msg">
        <span>Wiadomość</span>
        <textarea name="msg" id="msg" cols="30" rows="10" placeholder="Twoja wiadomość" required></textarea>
    </label>

    <input type="submit" value="Wyślij" />
</form>-->

