<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles.css">
    <title>Test przycisków</title>
</head>
<body>

<p>Tu powinien pojawic się przycisk</p>
<div class="buttonEmpty"></div> <!--wypelniacz-->
<div class="buttonInactive">1</div> <!--Panel: litera już była sprawdzana-->
<div class="buttonActive">2</div> <!--Panel: litera do sprawdzenia-->
<div class="letterKnown">3</div> <!--Hasło: zgadnięta litera-->
<div class="letterUnknown">-</div> <!--Hasło: nieznana litera-->


<p>a tu koniec</p>


</body>
</html>