<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type=text/css href="styles.css">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="playerCL" th:fragment="fragPlayer"> Tu będzie o graczach </div>
<form action="IndexWheel.html">
    <button type="submit" style="height: 30px;width: 70px;color: #69070b"/>Powrót
</form>
</body>
</html>
<!--

<form action="" method="post" id="contactForm">
    <label for="imie">
        <span>Imie:</span>
        <input type="text" id="imie" name="nameInput" placeholder="Podaj swoje imie" />
    </label>

    <label for="nazwisko">
        <span>Nazwisko:</span>
        <input type="text" id="nazwisko" name="lastNameInput" required />
    </label>

    <label for="email">
        <span>Email:</span>
        <input type="email" id="email" name="email" required />
    </label>

    &lt;!&ndash; <input type="number" name="" id="" max="99" min="18" required> &ndash;&gt;

    <div id="musicSection">
        <label for="rock">
            <input type="checkbox" name="rock" id="rock"> <span>Rock</span>
        </label>

        <label for="pop">
            <input type="checkbox" name="pop" id="pop"> <span>Pop</span>
        </label>

        <label for="jazz">
            <input type="checkbox" name="jazz" id="jazz"> <span>Jazz</span>
        </label>
    </div>


    <div id="drinkSection">
        <label for="coffee">
            <span>Kawa</span> <input type="radio" name="drink" id="coffee" value="coffee">
        </label>
        <label for="tea">
            <span>Herbata</span> <input type="radio" name="drink" id="tea" value="tea">
        </label>
    </div>

    <label for="msg">
        <span>Wiadomość</span>
        <textarea name="msg" id="msg" cols="30" rows="10" placeholder="Twoja wiadomość" required></textarea>
    </label>

    <input type="submit" value="Wyślij" />
</form>-->

