
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type=text/css href="styles.css">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--<footer th:fragment="dupa"> ...copyright ... </footer>-->
<nav th:fragment="fragMenu">

    <span class="menu"><a href="game">G a m e</a></span>
    <span class="menu"><a href="player">P l a y e r</a></span><!--Tu będzie tabela pkt z mozliwoscia założenia nowego gracxza-->
    <span class="menu"><a href="admin">A d m i n</a></span>
    <span class="menu"><a href="score">S c o r e s</a></span>

</nav>
</body>
</html>
