
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type=text/css href="styles.css">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--<footer th:fragment="dupa"> ...copyright ... </footer>-->
<nav th:fragment="fragMenu">
    <div class="menu">
    <p class="menufont"><a href="game">Game</a></p>
       </br>
    <p class="menufont"><a href="player">Player</a></p><!--Tu będzie tabela pkt z mozliwoscia założenia nowego gracxza-->
    <p class="menufont"><a href="admin">Admin</a></p>
        <p>-</p>
    <p class="menufont"><a href="score">Scores</a></p>
    </div>
</nav>
</body>
</html>
