
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type=text/css href="styles.css">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!--<footer th:fragment="dupa"> ...copyright ... </footer>-->
<nav th:fragment="fragMenu">
    <span class="MenuButtons"><a href="game">Gra</a></span>
    <span class="MenuButtons"><a href="player">Wybierz gracza</a></span><!--Tu będzie tabela pkt z mozliwoscia założenia nowego gracxza-->
    <span class="MenuButtons"><a href="admin">Panel adm</a></span>
    <span class="MenuButtons"><a href="score">Score table</a></span>
</nav>
</body>
</html>
