<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type=text/css href="styles.css">
<head>
    <meta charset="UTF-8">
</head>
<body>




<div class="startPanel" th:fragment="fragPanelStart">
        <p>Wheel of Torture :)</p>
</div>

<div class="gamePanel" th:fragment="fragPanelGame">
        <p class="buttonEmpty"></p> <!--wypelniacz-->
        <p class="buttonInactive">1</p> <!--Panel: litera już była sprawdzana-->
        <p class="buttonEmpty"></p> <!--wypelniacz-->
        <p class="buttonActive">2</p> <!--Panel: litera do sprawdzenia-->
        <p class="letterKnown">3</p> <!--Hasło: zgadnięta litera-->
        <p class="letterUnknown">-</p> <!--Hasło: nieznana litera-->
        <p class="buttonInactive">1</p> <!--Panel: litera już była sprawdzana-->
        <p class="buttonInactive">1</p> <!--Panel: litera już była sprawdzana-->
</div>
</body>
</html>
