<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type=text/css href="styles.css">
    <title>Wheel of torture :) localhost </title>
</head>
<body>
<header>
    <!-- !!!!!!!!!!!! Problem z zaczytem css i jpg !!!!!!! -->
    <img src="wheel.jpg">
    <img src="src/main/resources/templates/wheel.jpg">
    <img src="./wheel.jpg">
    <img src="./templates/wheel.jpg">
    <img src="templates/wheel.jpg">
    <img src="WheelFinal_projektKoncowy/src/main/resources/templates/wheel.jpg">
    <p>-------------</p>

    <!--Tu logo + literki do wybierania-->
    <div class="pictureFormat">
        <img src="wheel.jpg" width="100%"></div>
    <div class="panel">
        <p class="buttonEmpty"></p> <!--wypelniacz-->
        <p class="buttonInactive">1</p> <!--Panel: litera już była sprawdzana-->
        <p class="buttonEmpty"></p> <!--wypelniacz-->
        <p class="buttonActive">2</p> <!--Panel: litera do sprawdzenia-->
        <p class="letterKnown">3</p> <!--Hasło: zgadnięta litera-->
        <p class="letterUnknown">-</p> <!--Hasło: nieznana litera-->
        <p class="buttonInactive">1</p> <!--Panel: litera już była sprawdzana-->
        <p class="buttonInactive">1</p> <!--Panel: litera już była sprawdzana-->
    </div>
    <!--  </div>-->
</header>

<nav>
    <!-- Tu będzie menu, zrob dla nich przyciski z labelkamim-->

        <p class="MenuButtons">Nowa Gra</p>
        <p class="MenuButtons">Wybierz gracza</p><!--Tu będzie tabela pkt z mozliwoscia założenia nowego gracxza-->
        <p class="MenuButtons">Panel adm</p>
        <p class="MenuButtons">Score table</p>

</nav>

<article>

    Tu będzie konsola gry

</article>


<footer>footer Dupa</footer>

</body>
</html>