<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Wheel of torture :) </title>
</head>
<body>
<header>
 <!--Tu logo + literki do wybierania-->
    <img src="wheel.jpg" width=20% style="justify-content: left">
    <div class="buttonEmpty"></div> <!--wypelniacz-->
    <div class="buttonInactive">1</div> <!--Panel: litera już była sprawdzana-->
    <div class="buttonActive">2</div> <!--Panel: litera do sprawdzenia-->
    <div class="letterKnown">3</div> <!--Hasło: zgadnięta litera-->
    <div class="letterUnknown">-</div> <!--Hasło: nieznana litera-->
    <p class="buttonInactive">1</p> <!--Panel: litera już była sprawdzana-->
    <p class="buttonInactive">1</p> <!--Panel: litera już była sprawdzana-->
    </span>
</header>

<nav>
   <!-- Tu będzie menu, zrob dla nich przyciski z labelkamim-->
        <ul>
            <li>Nowa Gra</li>
            <li>Wybierz gracza</li><!--Tu będzie tabela pkt z mozliwoscia założenia nowego gracxza-->
            <li>PAnel adm</li>
            <li>Score table</li>
        </ul>

    <article>

        Tu będzie konsola gry

    </article>
</nav>




<footer>footer Dupa</footer>

</body>
</html>