<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Wheel of torture :) </title>
</head>
<body>

<img src="wheel.jpg" width=20% style="justify-content: left"></span>
<span class="headerFormat"></span>


<div class="buttonEmpty"></div> <!--wypelniacz-->
<div class="buttonInactive">1</div> <!--Panel: litera już była sprawdzana-->
<div class="buttonActive">2</div> <!--Panel: litera do sprawdzenia-->
<div class="letterKnown">3</div> <!--Hasło: zgadnięta litera-->
<div class="letterUnknown">-</div> <!--Hasło: nieznana litera-->




</body>
</html>