body {
    //background-color: #000000;
    background-color: #59692b;
}

.buttonEmpty {
/*    image-orientation: 0;*/
    background-color: #b2d7b2; /*ma byc bialy*/
    border-color: #ffffff;
    border-style: solid;
    width: 30px;
    height: 30px;
    font-size: +20px;


}
.buttonInactive{
    font-size: +20px;
 /*   image-orientation: 0;*/
    color: #423e3e;
    background-color: #6c766f;
    border-color: #ffffff;
    border-style: solid;
    width: 30px;
    height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonActive{
    font-size: +20px;
 /*   image-orientation: 0;*/
    color: #ffffff;
    background-color: #a4060d;
    border-color: #ffffff;
    border-style: solid;
    width: 30px;
    height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letterKnown {
    font-size: +20px;
/*    image-orientation: 0;*/
    color: #070907;
    background-color: #54bb98;
    border-color: #dae5da;
    border-style: solid;
    width: 30px;
    height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letterUnknown {
    font-size: +20px;
/*    image-orientation: 0;*/
    color: #ffffff;
    background-color: #103f10;
    border-color: #ffffff;
    border-style: solid;
    width: 30px;
    height: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MenuButtons {
    display: flex;
    color: #ffffff;
    background-color: #103f10;
    border-color: #ffffff;
    border-style: solid;
    font-weight: bold;


}



.pictureFormat{
    /*border-style: ridge;*/
    float: left;
    width:25.5%;
    background-color: #6f42c1;
}

.panel{
    display: flex;
   /* display: flex; -- Później aby przyciski byly razem*/
 /*   justify-content: center;*/
    float: right;
    width:100%;
    background-color: #0c4128;
}

header{
    display: flex;
/*    justify-content: left;*/
/*    align-items: center;*/
    border-style: ridge;
    border-color: #1234af
}

nav{
    color: #4b1a1e;
    justify-content: right;
    width:20%;
    border-style: ridge;
    display: block;
    float: left;
}

article{
    color: #0a3d0a;
    border-style: ridge;
    justify-content: right;
    width:79.2%;
/*    przy 80% spadał do niższego "rzedu"*/
    display: block;
    float: right;
}

footer {
    clear: both;
    background-color: #523e02;
}


/*
.pictureFormat{
    display: flex;
    justify-content: left;
    align-items: center;
    border-style: ridge;
    float: left;
    !*   width:20%;*!
    background-color: #6f42c1;

}

.panel{
    justify-content: center;
    float: right;
    width:40%;
    background-color: #0c4128;
}

header{
    display: flex;
    justify-content: left;
    align-items: center;
    border-style: ridge;
    border-color: #1234af
}*/
