<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="lettersPanel" th:fragment="lettersPanel">
    <section>
    <script type="text/javascript">
        var alfabet = [];
        alfabet.push("Ą", "Ć", "Ę", "Ł", "Ó", "Ś", "Ż", "Ź")
        for (i = 65; i < 91; i++) {
            alfabet.push(String.fromCharCode(i))
        }
        alfabet.sort();
        for (i = 0; i < 34; i++) {
            document.write("<button style=' font-size: +20px;color: #000000;font-family: ShlopShloppy-Regular;" +
                "background-color: #ffffff;border-color: #000000;border-style: solid;width: 30px;height: 30px;font-weight: bold;" +
                "display: inline-flex;justify-content: center;align-items: center;' onclick=this.style.display='none'>" + alfabet[i] + "</button>");
        }
        var litera;
        litera = String.fromCharCode(70);
    </script>
    </section>
</div>

<p> Zaczyt </p>


</body>
</html>
