<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>
<body>

<div class="lettersPanel" th:fragment="lettersPanel">
        <p class="buttonEmpty"></p> <!--wypelniacz-->
        <p class="buttonInactive">1</p> <!--Panel: litera już była sprawdzana-->
        <p class="buttonEmpty"></p> <!--wypelniacz-->
        <p class="buttonActive">2</p> <!--Panel: litera do sprawdzenia-->
        <p class="letterKnown">3</p> <!--Hasło: zgadnięta litera-->
        <p class="letterUnknown">-</p> <!--Hasło: nieznana litera-->
        <p class="buttonInactive">1</p> <!--Panel: litera już była sprawdzana-->
        <p class="buttonInactive">1</p> <!--Panel: litera już była sprawdzana-->
        <section>
                <script type="text/javascript">
                        for (i = 65; i < 91; i++) {
                                document.write(String.fromCharCode(i) + " ");
                        }
                                var litera;
                                document.write("<br>")
                                litera=String.fromCharCode(70)
                                document.write("<br>")
                                document.write(litera + " <-- wybrana litera")
                </script>
        </section>
</div>

<p> Zaczyt </p>



</body>
</html>
