<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link media="all" rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="styles.css">
    <title>Wheel of torture :) </title>
</head>
<body>
<header>
 <!--Tu logo + literki do wybierania-->
   <img src="wheel.jpg" width=20% style="justify-content: left">
    <p class="buttonEmpty"></p> <!--wypelniacz-->
    <p class="buttonInactive">1</p> <!--Panel: litera już była sprawdzana-->
    <p class="buttonActive">2</p> <!--Panel: litera do sprawdzenia-->
    <p class="letterKnown">3</p> <!--Hasło: zgadnięta litera-->
    <p class="letterUnknown">-</p> <!--Hasło: nieznana litera-->
    <p class="buttonInactive">1</p> <!--Panel: litera już była sprawdzana-->
    <p class="buttonInactive">1</p> <!--Panel: litera już była sprawdzana-->

  <!--  </div>-->
</header>

<nav>
   <!-- Tu będzie menu, zrob dla nich przyciski z labelkamim-->
        <ul>
            <li>Nowa Gra</li>
            <li>Wybierz gracza</li><!--Tu będzie tabela pkt z mozliwoscia założenia nowego gracxza-->
            <li>PAnel adm</li>
            <li>Score table</li>
        </ul>
</nav>

    <article>

        Tu będzie konsola gry

    </article>





<footer>footer Dupa</footer>

</body>
</html>